{:kotoba.app/id "cloud.itonami.isic-1312", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreictqhlb4srgyyevejed4i3miuvpmznxdipg5ouqdukxtm4kl3fmju", :kotoba.app/embed-url "ipfs://bafkreictqhlb4srgyyevejed4i3miuvpmznxdipg5ouqdukxtm4kl3fmju", :published {:archive "https://kotobase.net/ipfs/bafkreictqhlb4srgyyevejed4i3miuvpmznxdipg5ouqdukxtm4kl3fmju", :size 72196, :put-status 201, :get-status 200, :at "2026-08-15T13:33:26.175Z"}}
